In [7]:
import psycopg2
import pandas as pd

In [2]:
#Creating a function create_database
def create_database():
    #connect to a default database
    conn = psycopg2.connect("host=localhost dbname=postgres user=postgres password=solarsys")
    conn.set_session(autocommit=True)
    cur = conn.cursor()
    
    
    #create a specific database accounts
    cur.execute("DROP DATABASE IF EXISTS accounts")
    cur.execute("CREATE DATABASE accounts")
    
    #close the connection with default database
    conn.close()
    
    #connect a specific database accounts
    conn = psycopg2.connect("host=localhost dbname=accounts user=postgres password=solarsys")
    cur = conn.cursor()
    
    return cur,conn

In [3]:
def create_table(cur,conn):
    for query in create_table_queries:
        cur.execute(query)
        conn.commit()

In [4]:
def drop_tables(cur,conn):
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()

In [5]:
AccountsCountry = pd.read_csv('Wealth-AccountsCountry.csv')

In [6]:
AccountsCountry.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,Enhanced General Data Dissemination System (e-...,2011,"Demographic and Health Survey, 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2013.0,2015.0,2006.0,NaN
1,ARE,United Arab Emirates,United Arab Emirates,United Arab Emirates,AE,U.A.E. dirham,NaN,Middle East & North Africa,High income,AE,...,Enhanced General Data Dissemination System (e-...,2010,"World Health Survey, 2003",NaN,NaN,2012,NaN,2015.0,2005.0,NaN
2,ARG,Argentina,Argentina,Argentine Republic,AR,Argentine peso,National Institute of Statistics and Census re...,Latin America & Caribbean,Upper middle income,AR,...,Special Data Dissemination Standard (SDDS),2010,"Multiple Indicator Cluster Survey, 2011/12","Integrated household survey (IHS), 2014",Yes,2008,2002.0,2015.0,2011.0,NaN
3,ARM,Armenia,Armenia,Republic of Armenia,AM,Armenian dram,NaN,Europe & Central Asia,Lower middle income,AM,...,Special Data Dissemination Standard (SDDS),2011,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2014",Yes,2014,NaN,2015.0,2012.0,NaN
4,AUS,Australia,Australia,Commonwealth of Australia,AU,Australian dollar,Fiscal year end: June 30; reporting period for...,East Asia & Pacific,High income,AU,...,Special Data Dissemination Standard (SDDS),2016,NaN,"Expenditure survey/budget survey (ES/BS), 2010",Yes,2011,2013.0,2015.0,2013.0,NaN

In [8]:
AccountsCountry_clean = AccountsCountry[['Country Code','Short Name','Table Name','Long Name','Currency Unit']]

In [9]:
AccountsCountry_clean.head()

,Country Code,Short Name,Table Name,Long Name,Currency Unit
0,ALB,Albania,Albania,Republic of Albania,Albanian lek
1,ARE,United Arab Emirates,United Arab Emirates,United Arab Emirates,U.A.E. dirham
2,ARG,Argentina,Argentina,Argentine Republic,Argentine peso
3,ARM,Armenia,Armenia,Republic of Armenia,Armenian dram
4,AUS,Australia,Australia,Commonwealth of Australia,Australian dollar

In [10]:
AccountsData = pd.read_csv('Wealth-AccountsData.csv')

In [11]:
AccountsData.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1995,2000,2005,2010,2014,Unnamed: 9
0,East Asia & Pacific,EAS,Human capital (constant 2014 US$),NW.HCA.TO,1.009799e+14,1.122348e+14,1.139734e+14,1.496918e+14,1.809528e+14,NaN
1,East Asia & Pacific,EAS,Human capital per capita (constant 2014 US$),NW.HCA.PC,5.491949e+04,5.789417e+04,5.645355e+04,7.164342e+04,8.433397e+04,NaN
2,East Asia & Pacific,EAS,Natural capital (constant 2014 US$),NW.NCA.TO,1.178218e+13,1.347465e+13,1.774205e+13,2.753645e+13,3.162558e+13,NaN
3,East Asia & Pacific,EAS,Natural capital per capita (constant 2014 US$),NW.NCA.PC,6.407925e+03,6.950645e+03,8.788031e+03,1.317912e+04,1.473926e+04,NaN
4,East Asia & Pacific,EAS,"Natural capital per capita, agricultural land ...",NW.NCA.AGRI.PC,3.812813e+03,4.473152e+03,5.275056e+03,6.418146e+03,7.639804e+03,NaN

In [12]:
AccountsData.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1995,2000,2005,2010,2014,Unnamed: 9
0,East Asia & Pacific,EAS,Human capital (constant 2014 US$),NW.HCA.TO,1.009799e+14,1.122348e+14,1.139734e+14,1.496918e+14,1.809528e+14,NaN
1,East Asia & Pacific,EAS,Human capital per capita (constant 2014 US$),NW.HCA.PC,5.491949e+04,5.789417e+04,5.645355e+04,7.164342e+04,8.433397e+04,NaN
2,East Asia & Pacific,EAS,Natural capital (constant 2014 US$),NW.NCA.TO,1.178218e+13,1.347465e+13,1.774205e+13,2.753645e+13,3.162558e+13,NaN
3,East Asia & Pacific,EAS,Natural capital per capita (constant 2014 US$),NW.NCA.PC,6.407925e+03,6.950645e+03,8.788031e+03,1.317912e+04,1.473926e+04,NaN
4,East Asia & Pacific,EAS,"Natural capital per capita, agricultural land ...",NW.NCA.AGRI.PC,3.812813e+03,4.473152e+03,5.275056e+03,6.418146e+03,7.639804e+03,NaN

In [13]:
AccountsData.drop('Unnamed: 9',axis=1,inplace=True)

In [14]:
AccountsData.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1995,2000,2005,2010,2014
0,East Asia & Pacific,EAS,Human capital (constant 2014 US$),NW.HCA.TO,1.009799e+14,1.122348e+14,1.139734e+14,1.496918e+14,1.809528e+14
1,East Asia & Pacific,EAS,Human capital per capita (constant 2014 US$),NW.HCA.PC,5.491949e+04,5.789417e+04,5.645355e+04,7.164342e+04,8.433397e+04
2,East Asia & Pacific,EAS,Natural capital (constant 2014 US$),NW.NCA.TO,1.178218e+13,1.347465e+13,1.774205e+13,2.753645e+13,3.162558e+13
3,East Asia & Pacific,EAS,Natural capital per capita (constant 2014 US$),NW.NCA.PC,6.407925e+03,6.950645e+03,8.788031e+03,1.317912e+04,1.473926e+04
4,East Asia & Pacific,EAS,"Natural capital per capita, agricultural land ...",NW.NCA.AGRI.PC,3.812813e+03,4.473152e+03,5.275056e+03,6.418146e+03,7.639804e+03

In [15]:
AccountsSeries = pd.read_csv('Wealth-AccountsSeries.csv')

In [16]:
AccountsSeries.head()

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,NW.HCA.PC,Human capital,Human capital per capita (constant 2014 US$),NaN,Human capital is computed as the present value...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"Lange, G.M., Q. Wodon, and K. Carey, editors, ...",Total wealth is calculated by summing up estim...,NaN,NaN,NaN,NaN,NaN,NaN
1,NW.HCA.TO,Human capital,Human capital (constant 2014 US$),NaN,Human capital is computed as the present value...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"Lange, G.M., Q. Wodon, and K. Carey, editors, ...",Total wealth is calculated by summing up estim...,NaN,NaN,NaN,NaN,NaN,NaN
2,NW.NCA.AGRI.PC,Natural capital,"Natural capital per capita, agricultural land ...",NaN,Natural capital includes the valuation of foss...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"Lange, G.M., Q. Wodon, and K. Carey, editors, ...",Total wealth is calculated by summing up estim...,NaN,NaN,NaN,NaN,NaN,NaN
3,NW.NCA.AGRI.TO,Natural capital,"Natural capital, agricultural land (constant 2...",NaN,Natural capital includes the valuation of foss...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"Lange, G.M., Q. Wodon, and K. Carey, editors, ...",Total wealth is calculated by summing up estim...,NaN,NaN,NaN,NaN,NaN,NaN
4,NW.NCA.CROL.PC,Natural capital,"Natural capital per capita, agricultural land:...",NaN,Natural capital includes the valuation of foss...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"Lange, G.M., Q. Wodon, and K. Carey, editors, ...",Total wealth is calculated by summing up estim...,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
AccountsSeries.columns

Index(['Series Code', 'Topic', 'Indicator Name', 'Short definition',
       'Long definition', 'Unit of measure', 'Periodicity', 'Base Period',
       'Other notes', 'Aggregation method', 'Limitations and exceptions',
       'Notes from original source', 'General comments', 'Source',
       'Statistical concept and methodology', 'Development relevance',
       'Related source links', 'Other web links', 'Related indicators',
       'License Type', 'Unnamed: 20'],
      dtype='object')

In [18]:
AccountsSeries_new = AccountsSeries[['Series Code','Topic','Indicator Name','Short definition']]

In [19]:
AccountsSeries_new.head()

,Series Code,Topic,Indicator Name,Short definition
0,NW.HCA.PC,Human capital,Human capital per capita (constant 2014 US$),NaN
1,NW.HCA.TO,Human capital,Human capital (constant 2014 US$),NaN
2,NW.NCA.AGRI.PC,Natural capital,"Natural capital per capita, agricultural land ...",NaN
3,NW.NCA.AGRI.TO,Natural capital,"Natural capital, agricultural land (constant 2...",NaN
4,NW.NCA.CROL.PC,Natural capital,"Natural capital per capita, agricultural land:...",NaN

In [20]:
cur,conn = create_database()

In [21]:
# Creating a table accountscountry 
songplay_table_create = ("""CREATE TABLE IF NOT EXISTS accountscountry(
country_code VARCHAR PRIMARY KEY,
short_name VARCHAR,
table_name VARCHAR,
long_name VARCHAR,
currency_unit VARCHAR
)""")

In [22]:
cur.execute(songplay_table_create)
conn.commit()

In [23]:
# Creating a table accountsdata 
accounts_data_table_create = ("""CREATE TABLE IF NOT EXISTS accountsdata(
country_name VARCHAR,
country_code VARCHAR,
indicator_name VARCHAR,
indicator_code VARCHAR,
year_1995 numeric,
year_2000 numeric,
year_2005 numeric,
year_2010 numeric,
year_2014 numeric
)""")
cur.execute(accounts_data_table_create)
conn.commit()

In [24]:
# Creating a table accountseries 
accountseries_data_table_create = ("""CREATE TABLE IF NOT EXISTS accountseries(
series_code VARCHAR,
topic VARCHAR,
indicator_name VARCHAR,
short_defination VARCHAR
)""")
cur.execute(accountseries_data_table_create)
conn.commit()

In [25]:
# inserting data into a table accountscountry 
accounts_country_table_insert = ("""INSERT INTO accountscountry(
country_code,
short_name,
table_name,
long_name,
currency_unit)
VALUES(%s, %s, %s, %s, %s)
""")

In [27]:
for i, row in AccountsCountry_clean.iterrows():
    #print(list(row))
    cur.execute(accounts_country_table_insert, list(row))

In [28]:
for i, row in AccountsCountry_clean.iterrows():
    print(list(row))

['ALB', 'Albania', 'Albania', 'Republic of Albania', 'Albanian lek']
['ARE', 'United Arab Emirates', 'United Arab Emirates', 'United Arab Emirates', 'U.A.E. dirham']
['ARG', 'Argentina', 'Argentina', 'Argentine Republic', 'Argentine peso']
['ARM', 'Armenia', 'Armenia', 'Republic of Armenia', 'Armenian dram']
['AUS', 'Australia', 'Australia', 'Commonwealth of Australia', 'Australian dollar']
['AUT', 'Austria', 'Austria', 'Republic of Austria', 'Euro']
['AZE', 'Azerbaijan', 'Azerbaijan', 'Republic of Azerbaijan', 'New Azeri manat']
['BDI', 'Burundi', 'Burundi', 'Republic of Burundi', 'Burundi franc']
['BEL', 'Belgium', 'Belgium', 'Kingdom of Belgium', 'Euro']
['BFA', 'Burkina Faso', 'Burkina Faso', 'Burkina Faso', 'West African CFA franc']
['BGD', 'Bangladesh', 'Bangladesh', "People's Republic of Bangladesh", 'Bangladeshi taka']
['BGR', 'Bulgaria', 'Bulgaria', 'Republic of Bulgaria', 'Bulgarian lev']
['BHR', 'Bahrain', 'Bahrain', 'Kingdom of Bahrain', 'Bahraini dinar']
['BIH', 'Bosnia and Herzegovina', 'Bosnia and Herzegovina', 'Bosnia and Herzegovina', 'Bosnia and Herzegovina convertible mark']
['BLR', 'Belarus', 'Belarus', 'Republic of Belarus', 'Belarusian rubel']
['BLZ', 'Belize', 'Belize', 'Belize', 'Belize dollar']
['BOL', 'Bolivia', 'Bolivia', 'Plurinational State of Bolivia', 'Bolivian Boliviano']
['BRA', 'Brazil', 'Brazil', 'Federative Republic of Brazil', 'Brazilian real']
['BWA', 'Botswana', 'Botswana', 'Republic of Botswana', 'Botswana pula']
['CAF', 'Central African Republic', 'Central African Republic', 'Central African Republic', 'Central African CFA franc']
['CAN', 'Canada', 'Canada', 'Canada', 'Canadian dollar']
['CHE', 'Switzerland', 'Switzerland', 'Switzerland', 'Swiss franc']
['CHL', 'Chile', 'Chile', 'Republic of Chile', 'Chilean peso']
['CHN', 'China', 'China', "People's Republic of China", 'Chinese yuan']
['CIV', "CÃ´te d'Ivoire", "CÃ´te d'Ivoire", "Republic of CÃ´te d'Ivoire", 'West African CFA franc']
['CMR', 'Cameroon', 'Cameroon', 'Republic of Cameroon', 'Central African CFA franc']
['COD', 'Dem. Rep. Congo', 'Congo, Dem. Rep.', 'Democratic Republic of the Congo', 'Congolese franc']
['COG', 'Congo', 'Congo, Rep.', 'Republic of Congo', 'Central African CFA franc']
['COL', 'Colombia', 'Colombia', 'Republic of Colombia', 'Colombian peso']
['COM', 'Comoros', 'Comoros', 'Union of the Comoros', 'Comorian franc']
['CRI', 'Costa Rica', 'Costa Rica', 'Republic of Costa Rica', 'Costa Rican colon']
['DEU', 'Germany', 'Germany', 'Federal Republic of Germany', 'Euro']
['DJI', 'Djibouti', 'Djibouti', 'Republic of Djibouti', 'Djibouti franc']
['DNK', 'Denmark', 'Denmark', 'Kingdom of Denmark', 'Danish krone']
['DOM', 'Dominican Republic', 'Dominican Republic', 'Dominican Republic', 'Dominican peso']
['EAP', 'East Asia & Pacific (excluding high income)', 'East Asia & Pacific (excluding high income)', 'East Asia & Pacific (excluding high income)', nan]
['EAS', 'East Asia & Pacific', 'East Asia & Pacific', 'East Asia & Pacific', nan]
['ECA', 'Europe & Central Asia (excluding high income)', 'Europe & Central Asia (excluding high income)', 'Europe & Central Asia (excluding high income)', nan]
['ECS', 'Europe & Central Asia', 'Europe & Central Asia', 'Europe & Central Asia', nan]
['ECU', 'Ecuador', 'Ecuador', 'Republic of Ecuador', 'U.S. dollar']
['EGY', 'Egypt', 'Egypt, Arab Rep.', 'Arab Republic of Egypt', 'Egyptian pound']
['ESP', 'Spain', 'Spain', 'Kingdom of Spain', 'Euro']
['EST', 'Estonia', 'Estonia', 'Republic of Estonia', 'Euro']
['ETH', 'Ethiopia', 'Ethiopia', 'Federal Democratic Republic of Ethiopia', 'Ethiopian birr']
['FIN', 'Finland', 'Finland', 'Republic of Finland', 'Euro']
['FRA', 'France', 'France', 'French Republic', 'Euro']
['GAB', 'Gabon', 'Gabon', 'Gabonese Republic', 'Central African CFA franc']
['GBR', 'United Kingdom', 'United Kingdom', 'United Kingdom of Great Britain and Northern Ireland', 'Pound sterling']
['GEO', 'Georgia', 'Georgia', 'Georgia', 'Georgian lari']
['GHA', 'Ghana', 'Ghana', 'Republic of Ghana', 'New Ghanaian cedi']
['GIN', 'Guinea', 'Guinea', 'Republic of Guinea', 'Guinean franc']
['GMB', 'The Gambia', 'Gambia, The', 'Republic of The Gambia', 'Gambian dalasi']
['GRC', 'Greece', 'Greece', 'Hellenic Republic', 'Euro']
['GTM', 'Guatemala', 'Guatemala', 'Republic of Guatemala', 'Guatemalan quetzal']
['GUY', 'Guyana', 'Guyana', 'Co-operative Republic of Guyana', 'Guyana dollar']
['HND', 'Honduras', 'Honduras', 'Republic of Honduras', 'Honduran lempira']
['HRV', 'Croatia', 'Croatia', 'Republic of Croatia', 'Croatian kuna']
['HTI', 'Haiti', 'Haiti', 'Republic of Haiti', 'Haitian gourde']
['HUN', 'Hungary', 'Hungary', 'Hungary', 'Hungarian forint']
['IDN', 'Indonesia', 'Indonesia', 'Republic of Indonesia', 'Indonesian rupiah']
['IND', 'India', 'India', 'Republic of India', 'Indian rupee']
['IRL', 'Ireland', 'Ireland', 'Ireland', 'Euro']
['IRQ', 'Iraq', 'Iraq', 'Republic of Iraq', 'Iraqi dinar']
['ISL', 'Iceland', 'Iceland', 'Republic of Iceland', 'Iceland krona']
['ITA', 'Italy', 'Italy', 'Italian Republic', 'Euro']
['JAM', 'Jamaica', 'Jamaica', 'Jamaica', 'Jamaican dollar']
['JOR', 'Jordan', 'Jordan', 'Hashemite Kingdom of Jordan', 'Jordanian dinar']
['JPN', 'Japan', 'Japan', 'Japan', 'Japanese yen']
['KAZ', 'Kazakhstan', 'Kazakhstan', 'Republic of Kazakhstan', 'Kazakh tenge']
['KEN', 'Kenya', 'Kenya', 'Republic of Kenya', 'Kenyan shilling']
['KGZ', 'Kyrgyz Republic', 'Kyrgyz Republic', 'Kyrgyz Republic', 'Kyrgyz som']
['KHM', 'Cambodia', 'Cambodia', 'Kingdom of Cambodia', 'Cambodian riel']
['KOR', 'Korea', 'Korea, Rep.', 'Republic of Korea', 'Korean won']
['KWT', 'Kuwait', 'Kuwait', 'State of Kuwait', 'Kuwaiti dinar']
['LAC', 'Latin America & Caribbean (excluding high income)', 'Latin America & Caribbean (excluding high income)', 'Latin America & Caribbean (excluding high income)', nan]
['LAO', 'Lao PDR', 'Lao PDR', "Lao People's Democratic Republic", 'Lao kip']
['LBN', 'Lebanon', 'Lebanon', 'Lebanese Republic', 'Lebanese pound']
['LBR', 'Liberia', 'Liberia', 'Republic of Liberia', 'U.S. dollar']
['LCN', 'Latin America & Caribbean', 'Latin America & Caribbean', 'Latin America & Caribbean', nan]
['LIC', 'Low income', 'Low income', 'Low income', nan]
['LKA', 'Sri Lanka', 'Sri Lanka', 'Democratic Socialist Republic of Sri Lanka', 'Sri Lankan rupee']
['LMC', 'Lower middle income', 'Lower middle income', 'Lower middle income', nan]
['LTU', 'Lithuania', 'Lithuania', 'Republic of Lithuania', 'Euro']
['LUX', 'Luxembourg', 'Luxembourg', 'Grand Duchy of Luxembourg', 'Euro']
['LVA', 'Latvia', 'Latvia', 'Republic of Latvia', 'Euro']
['MAR', 'Morocco', 'Morocco', 'Kingdom of Morocco', 'Moroccan dirham']
['MDA', 'Moldova', 'Moldova', 'Republic of Moldova', 'Moldovan leu']
['MDG', 'Madagascar', 'Madagascar', 'Republic of Madagascar', 'Malagasy ariary']
['MDV', 'Maldives', 'Maldives', 'Republic of Maldives', 'Maldivian rufiyaa']
['MEA', 'Middle East & North Africa', 'Middle East & North Africa', 'Middle East & North Africa', nan]
['MEX', 'Mexico', 'Mexico', 'United Mexican States', 'Mexican peso']
['MKD', 'Macedonia', 'Macedonia, FYR', 'Former Yugoslav Republic of Macedonia', 'Macedonian denar']
['MLI', 'Mali', 'Mali', 'Republic of Mali', 'West African CFA franc']
['MLT', 'Malta', 'Malta', 'Republic of Malta', 'Euro']
['MNA', 'Middle East & North Africa (excluding high income)', 'Middle East & North Africa (excluding high income)', 'Middle East & North Africa (excluding high income)', nan]
['MNG', 'Mongolia', 'Mongolia', 'Mongolia', 'Mongolian tugrik']
['MOZ', 'Mozambique', 'Mozambique', 'Republic of Mozambique', 'New Mozambican metical']
['MRT', 'Mauritania', 'Mauritania', 'Islamic Republic of Mauritania', 'Mauritanian ouguiya']
['MUS', 'Mauritius', 'Mauritius', 'Republic of Mauritius', 'Mauritian rupee']
['MWI', 'Malawi', 'Malawi', 'Republic of Malawi', 'Malawi kwacha']
['MYS', 'Malaysia', 'Malaysia', 'Malaysia', 'Malaysian ringgit']
['NAC', 'North America', 'North America', 'North America', nan]
['NAM', 'Namibia', 'Namibia', 'Republic of Namibia', 'Namibian dollar']
['NER', 'Niger', 'Niger', 'Republic of Niger', 'West African CFA franc']
['NGA', 'Nigeria', 'Nigeria', 'Federal Republic of Nigeria', 'Nigerian naira']
['NIC', 'Nicaragua', 'Nicaragua', 'Republic of Nicaragua', 'Nicaraguan gold cordoba']
['NLD', 'Netherlands', 'Netherlands', 'Kingdom of the Netherlands', 'Euro']
['NOR', 'Norway', 'Norway', 'Kingdom of Norway', 'Norwegian krone']
['NPL', 'Nepal', 'Nepal', 'Nepal', 'Nepalese rupee']
['OMN', 'Oman', 'Oman', 'Sultanate of Oman', 'Rial Omani']
['PAK', 'Pakistan', 'Pakistan', 'Islamic Republic of Pakistan', 'Pakistani rupee']
['PAN', 'Panama', 'Panama', 'Republic of Panama', 'Panamanian balboa']
['PER', 'Peru', 'Peru', 'Republic of Peru', 'Peruvian new sol']
['PHL', 'Philippines', 'Philippines', 'Republic of the Philippines', 'Philippine peso']
['PNG', 'Papua New Guinea', 'Papua New Guinea', 'The Independent State of Papua New Guinea', 'Papua New Guinea kina']
['POL', 'Poland', 'Poland', 'Republic of Poland', 'Polish zloty']
['PRT', 'Portugal', 'Portugal', 'Portuguese Republic', 'Euro']
['PRY', 'Paraguay', 'Paraguay', 'Republic of Paraguay', 'Paraguayan guarani']
['PSE', 'West Bank and Gaza', 'West Bank and Gaza', 'West Bank and Gaza', 'Israeli new shekel']
['QAT', 'Qatar', 'Qatar', 'State of Qatar', 'Qatari riyal']
['ROU', 'Romania', 'Romania', 'Romania', 'New Romanian leu']
['RUS', 'Russia', 'Russian Federation', 'Russian Federation', 'Russian ruble']
['RWA', 'Rwanda', 'Rwanda', 'Republic of Rwanda', 'Rwandan franc']
['SAS', 'South Asia', 'South Asia', 'South Asia', nan]
['SAU', 'Saudi Arabia', 'Saudi Arabia', 'Kingdom of Saudi Arabia', 'Saudi Arabian riyal']
['SEN', 'Senegal', 'Senegal', 'Republic of Senegal', 'West African CFA franc']
['SGP', 'Singapore', 'Singapore', 'Republic of Singapore', 'Singapore dollar']
['SLB', 'Solomon Islands', 'Solomon Islands', 'Solomon Islands', 'Solomon Islands dollar']
['SLE', 'Sierra Leone', 'Sierra Leone', 'Republic of Sierra Leone', 'Sierra Leonean leone']
['SLV', 'El Salvador', 'El Salvador', 'Republic of El Salvador', 'U.S. dollar']
['SSA', 'Sub-Saharan Africa (excluding high income)', 'Sub-Saharan Africa (excluding high income)', 'Sub-Saharan Africa (excluding high income)', nan]
['SUR', 'Suriname', 'Suriname', 'Republic of Suriname', 'Suriname dollar']
['SVK', 'Slovak Republic', 'Slovak Republic', 'Slovak Republic', 'Euro']
['SVN', 'Slovenia', 'Slovenia', 'Republic of Slovenia', 'Euro']
['SWE', 'Sweden', 'Sweden', 'Kingdom of Sweden', 'Swedish krona']
['SWZ', 'Swaziland', 'Swaziland', 'Kingdom of Swaziland', 'Swaziland lilangeni']
['TCD', 'Chad', 'Chad', 'Republic of Chad', 'Central African CFA franc']
['TGO', 'Togo', 'Togo', 'Republic of Togo', 'West African CFA franc']
['THA', 'Thailand', 'Thailand', 'Kingdom of Thailand', 'Thai baht']
['TJK', 'Tajikistan', 'Tajikistan', 'Republic of Tajikistan', 'Tajik somoni']
['TKM', 'Turkmenistan', 'Turkmenistan', 'Turkmenistan', 'New Turkmen manat']
['TUN', 'Tunisia', 'Tunisia', 'Republic of Tunisia', 'Tunisian dinar']
['TUR', 'Turkey', 'Turkey', 'Republic of Turkey', 'New Turkish lira']
['TZA', 'Tanzania', 'Tanzania', 'United Republic of Tanzania', 'Tanzanian shilling']
['UGA', 'Uganda', 'Uganda', 'Republic of Uganda', 'Ugandan shilling']
['UKR', 'Ukraine', 'Ukraine', 'Ukraine', 'Ukrainian hryvnia']
['UMC', 'Upper middle income', 'Upper middle income', 'Upper middle income', nan]
['URY', 'Uruguay', 'Uruguay', 'Oriental Republic of Uruguay', 'Uruguayan peso']
['USA', 'United States', 'United States', 'United States of America', 'U.S. dollar']
['VEN', 'Venezuela', 'Venezuela, RB', 'RepÃºblica Bolivariana de Venezuela', 'Venezuelan bolivar fuerte']
['VNM', 'Vietnam', 'Vietnam', 'Socialist Republic of Vietnam', 'Vietnamese dong']
['WLD', 'World', 'World', 'World', nan]
['YEM', 'Yemen', 'Yemen, Rep.', 'Republic of Yemen', 'Yemeni rial']
['ZAF', 'South Africa', 'South Africa', 'Republic of South Africa', 'South African rand']
['ZMB', 'Zambia', 'Zambia', 'Republic of Zambia', 'New Zambian kwacha']
['ZWE', 'Zimbabwe', 'Zimbabwe', 'Republic of Zimbabwe', 'U.S. dollar']

In [29]:
conn.commit()

In [30]:
## inserting data into a table accountseries 
accounts_series_table_insert = ("""INSERT INTO accountseries(
series_code,
topic,
indicator_name,
short_defination)
VALUES(%s, %s, %s, %s)
""")

In [31]:
for i, row in AccountsSeries_new.iterrows():
    #print(list(row))
    cur.execute(accounts_series_table_insert, list(row))

In [32]:
conn.commit()

In [33]:
## inserting data into a table accountsdata 
accounts_data_table_insert = ("""INSERT INTO accountsdata(
country_name,
country_code,
indicator_name,
indicator_code,
year_1995,
year_2000,
year_2005,
year_2010,
year_2014)
VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s)
""")

In [34]:
for i, row in AccountsData.iterrows():
    #print(list(row))
    cur.execute(accounts_data_table_insert, list(row))

In [35]:
conn.commit()